doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        types:
            #User
            user_id: App\User\Infrastructure\Doctrine\Type\UserIdType
            hashed_password: App\User\Infrastructure\Doctrine\Type\HashedPasswordType
            roles: App\User\Infrastructure\Doctrine\Type\RolesType
            phone_number: App\User\Infrastructure\Doctrine\Type\PhoneNumberType
            #Shop
            shop_id: App\Shop\Infrastructure\Doctrine\Type\ShopIdType
            shop_category: App\Shop\Infrastructure\Doctrine\Type\ShopCategoryType
            #Conversion
            seller_conversation_id: App\Conversation\Infrastructure\Doctrine\Type\SellerConversationIdType
            channel: App\Conversation\Infrastructure\Doctrine\Type\ChannelType
            conversation_state: App\Conversation\Infrastructure\Doctrine\Type\ConversationStateType
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            User:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/User/Infrastructure/Doctrine/Mapping'
                prefix: 'App\User\Infrastructure\Doctrine\Mapping'
                alias: User
            Shop:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Shop/Infrastructure/Doctrine/Mapping'
                prefix: 'App\Shop\Infrastructure\Doctrine\Mapping'
                alias: Shop
            Conversation:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Conversation/Infrastructure/Doctrine/Mapping'
                prefix: 'App\Conversation\Infrastructure\Doctrine\Mapping'
                alias: Conversation
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
